@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --gradient-angle: 360deg;
}

html, body :root {
  height: 100%;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 360deg;
  inherits: false;
}

.hero-button-effect {
  background: linear-gradient(
    var(--gradient-angle),
    hsla(211, 60%, 48%, 0.7),
    hsla(211, 60%, 48%, 0.3),
    #3178c6,
    hsla(211, 60%, 48%, 0.5)
  );
  animation: gradient-rotate 5s linear infinite reverse;
}

.hero-button-effect-dark {
  background: linear-gradient(
    var(--gradient-angle),
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0.1),
    #fff,
    hsla(0, 0%, 100%, 0.3)
  ) !important;
  animation: gradient-rotate 5s linear infinite reverse;
}

@keyframes gradient-rotate {
  0% {
    --gradient-angle: 360deg
  }
  100% {
    --gradient-angle: 0deg
  }
}